<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Books</title>

		<!-- Latest compiled and minified CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="/stylesheets/app.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
	   <div class="container">
	   <div class="page-header">
	   	<h1>Books! <small>Add a New Book</small></h1>
	   </div>
	   <div class="col-md-6">
	   <form id="form" action="/books" method="get" class="form-horizontal">
		   <div class="form-group">
		   		<label for="title">Title</label>
		  		<input id="title" type="text" name="title" class="form-control" placeholder="Lord of the Rings" required>
		   </div>
		   <div class="form-group">
		   		<label for="author">Author</label>
		  		<input id="author" type="text" name="author" class="form-control" placeholder="J.R.R Tolkien" required>
		   </div>
		   <div class="form-group">
		   		<label for="year">Year</label>
		  		<input id="year" type="text" name="year" class="form-control" placeholder="1955" required>
		   </div>
		  <div class="form-group">
		 	 <input type="submit" value="Add Book" class="btn btn-primary"></input>
		  </div>
	   </form>
	   </div>
	   </div>
    </body>
</html>